.widget-charts-accordion {
    .widget-charts-accordion-header {
        cursor: pointer;
        position: relative;

        .glyphicon {
            font-size: 13px;
            margin-right: 5px;
        }
    }
}
