.widget-charts-loading-wrapper {
    position: absolute;
    top: 20%;
    left: 44%;

    .widget-charts-loading {
        padding: 0 10px;
        vertical-align: bottom;
        width: 165px;
        height: 100px;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
    }

    .widget-charts-loading-text {
        color: #447adb;
        font-family: 'Open Sans', verdana, arial, sans-serif;
        font-size: 80%;
        text-align: center;
        margin-top: 5px;
    }

    .widget-charts-loading-bar {
        background-color: #447adb;
        height: 100%;
        width: 13.3%;
        position: absolute;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-timing-function: linear;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: normal;
        -webkit-animation-timing-function: linear;

        @mixin bar-styles($left, $top, $animation) {
            left: $left;
            top: $top;
            animation-name: $animation;
            -webkit-animation-name: $animation;
        }
        &.bar-one {
            @include bar-styles(0, 88%, bar-one);
        }

        &.bar-two {
            @include bar-styles(14.3%, 76%, bar-two);
        }

        &.bar-three {
            @include bar-styles(28.6%, 16%, bar-three);
        }

        &.bar-four {
            @include bar-styles(42.9%, 40%, bar-four);
        }

        &.bar-five {
            @include bar-styles(57.2%, 26%, bar-five);
        }

        &.bar-six {
            @include bar-styles(71.5%, 67%, bar-six);
        }

        &.bar-seven {
            @include bar-styles(85.8%, 89%, bar-seven);
        }
    }
}

@mixin bar-one-animation {
    0% {  top: 88%;  }
    44% { top: 0; }
    94% { top: 100%; }
    100% { top: 88%; }
}
@keyframes bar-one {
    @include bar-one-animation();
}
@-webkit-keyframes bar-one {
    @include bar-one-animation();
}

@mixin bar-two-animation {
    0% { top: 76%; }
    38% { top: 0; }
    88% { top: 100%; }
    100% { top: 76%; }
}
@keyframes bar-two {
    @include bar-two-animation();
}
@-webkit-keyframes bar-two {
    @include bar-two-animation();
}

@mixin bar-three-animation {
    0% { top: 16%; }
    8% { top: 0; }
    58% { top: 100%; }
    100% { top: 16%; }
}
@keyframes bar-three {
    @include bar-three-animation();
}
@-webkit-keyframes bar-three {
    @include bar-three-animation();
}

@mixin bar-four-animation {
    0% { top: 40%; }
    20% { top: 0; }
    70% { top: 100%; }
    100% { top: 40%; }
}
@keyframes bar-four {
    @include bar-four-animation();
}
@-webkit-keyframes bar-four {
    @include bar-four-animation();
}

@mixin bar-five-animation {
    0% { top: 26%; }
    13% { top: 0; }
    63% { top: 100%; }
    100% { top: 26%; }
}
@keyframes bar-five {
    @include bar-five-animation();
}
@-webkit-keyframes bar-five {
    @include bar-five-animation();
}

@mixin bar-six-animation {
    0% { top: 67%; }
    33.5% { top: 0; }
    83% { top: 100%; }
    100% { top: 67%; }
}
@keyframes bar-six {
    @include bar-six-animation();
}
@-webkit-keyframes bar-six {
    @include bar-six-animation();
}

@mixin bar-seven-animation {
    0% { top: 89%; }
    44.5% { top: 0; }
    94.5% { top: 100%; }
    100% { top: 89%; }
}
@keyframes bar-seven {
    @include bar-seven-animation();
}
@-webkit-keyframes bar-seven {
    @include bar-seven-animation();
}
