.widget-charts-tooltip {
    background-color: #f1f1f1;
    border-color: #f1f1f1;
    border-radius: 6px;
    display: inline-block;
    opacity: 0;
    padding: 8px;
    margin-top: 3px;
    pointer-events: none;
    position: absolute;
    z-index: 1000;
}

.alert {
    p {
        margin: 0;
    }
}

.widget-charts-advanced {
    .ace_editor {
        margin-bottom: 20px;
        width: 100% !important;

        .ace_print-margin {
            display: none;
        }

        &.ace-editor-read-only {
            .ace_content {
                background-color: #eee;
                opacity: 0.70;
            }
        }
    }

    .mx-tabcontainer {
        .mx-tabcontainer-tabs {
            li {
                &.remove {
                    a {
                        &:hover {
                            background-color: transparent;
                            border: none;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
