.widget-charts-wrapper {
    width: 100%;
    height: 100%;
}

.widget-charts {
    &.js-plotly-plot {
        .plotly {
            .modebar {
                z-index: 0 !important; // Strange: styles from the library that can't be over written without this
            }
        }
    }

    .plot-container {
        &.plotly {
            position: absolute;
            width: 100%;
            padding: 5px 5px 50%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}

.alert {
    p {
        margin: 0;
    }
}

