.widget-charts-wrapper {
    width: 100%;
    height: 100%;
}

.widget-charts {
    .widget-charts-tooltip {
        background-color: #f1f1f1;
        border-color: #f1f1f1;
        border-radius: 6px;
        display: inline-block;
        opacity: 0;
        padding: 8px;
        margin-top: 3px;
        pointer-events: none;
        position: absolute;
        z-index: 1000;
    }

    &.js-plotly-plot {
        .plotly {
            .modebar {
                z-index: 0 !important; // Strange: styles from the library that can't be over written without this
            }
        }
    }

    .plot-container {
        &.plotly {
            position: absolute;
            width: 0;
            height: 0;
            padding: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}

.alert {
    p {
        margin: 0;
    }
}

