/*
 * Component: Control sidebar. By default, this is the right sidebar.
 */

.control-sidebar {
    position: fixed;
    padding-top: 0;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    min-height: 400px;
    overflow: auto;
    z-index: 1010;
    -webkit-transition: right 0.3s ease-in-out;
    -o-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;
}
@media (max-width: 768px) {
    .control-sidebar {
        padding-top: 0;
    }

    .control-sidebar.control-sidebar-open {
        width: 100%;
    }
}
.control-sidebar > .tab-content {
    padding: 10px 15px;
}
.control-sidebar.control-sidebar-open {
    right: 0;
}
.nav-tabs.control-sidebar-tabs > li:first-of-type > a,
.nav-tabs.control-sidebar-tabs > li:first-of-type > a:hover,
.nav-tabs.control-sidebar-tabs > li:first-of-type > a:focus {
    border-left-width: 0;
}
.nav-tabs.control-sidebar-tabs > li > a {
    border-radius: 0;
}
.nav-tabs.control-sidebar-tabs > li > a,
.nav-tabs.control-sidebar-tabs > li > a:hover {
    border-top: none;
    border-left: none;
    border-right: 1px solid #d7d7d7;
}
.nav-tabs.control-sidebar-tabs > li > a .icon {
    font-size: 16px;
}
.nav-tabs.control-sidebar-tabs > li.active > a,
.nav-tabs.control-sidebar-tabs > li.active > a:hover,
.nav-tabs.control-sidebar-tabs > li.active > a:focus,
.nav-tabs.control-sidebar-tabs > li.active > a:active {
    border-top: none;
    border-right: none;
    border-bottom: none;
}
@media (max-width: 768px) {
    .nav-tabs.control-sidebar-tabs {
        display: table;
    }
    .nav-tabs.control-sidebar-tabs > li {
        display: table-cell;
    }
}
.control-sidebar-light {
    color: #5e5e5e;
}
.control-sidebar-light,
.control-sidebar-light + .control-sidebar-bg {
    background: #FFF;
    border: 1px solid #d2d6de;
}
.control-sidebar-light .nav-tabs.control-sidebar-tabs {
    border-bottom: 1px solid #d7d7d7;
}
.control-sidebar-light .nav-tabs.control-sidebar-tabs > li > a {
    background: #e8ecf4;
    color: #444444;
}
.control-sidebar-light .nav-tabs.control-sidebar-tabs > li > a,
.control-sidebar-light .nav-tabs.control-sidebar-tabs > li > a:hover,
.control-sidebar-light .nav-tabs.control-sidebar-tabs > li > a:focus {
    flex: 1;
    text-align: center;
    border-right: 1px solid #d7d7d7;
    text-decoration: none;
    background-color: #f5f5f5;
    color: #888888;
    cursor: pointer;
}
.control-sidebar-light .nav-tabs.control-sidebar-tabs > li > a:hover,
.control-sidebar-light .nav-tabs.control-sidebar-tabs > li > a:focus,
.control-sidebar-light .nav-tabs.control-sidebar-tabs > li > a:active {
    background: #eff1f7;
}
.control-sidebar-light .nav-tabs.control-sidebar-tabs > li.active > a,
.control-sidebar-light .nav-tabs.control-sidebar-tabs > li.active > a:hover,
.control-sidebar-light .nav-tabs.control-sidebar-tabs > li.active > a:focus,
.control-sidebar-light .nav-tabs.control-sidebar-tabs > li.active > a:active {
    background-color: #fff;
    color: #0595db;
}

.control-sidebar-light .nav-tabs.control-sidebar-tabs > li.remove a {
    border-left: 1px solid #d7d7d7;
}

.control-sidebar .item-header {
    display: block;
    width: 100%;
    line-height: 30px;
    border-bottom: 1px solid #d7d7d7;
    background-color: #f5f5f5;
    padding: 0 15px;
    font-size: 16px;
    margin-bottom: 0;
}

.replaced-config {
    position: absolute;
}

.replaced-config:after {
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    background: #c00;
    content: "";
    width: 100%;
    display: block;
}

.control-sidebar .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}

.control-sidebar.control-sidebar-open .overlay {
    visibility: visible;
}
