/*
 * Component: Control sidebar. By default, this is the right sidebar.
 */

.control-sidebar {
    color: #5e5e5e;
    background: #FFF;
    border: 1px solid #d2d6de;
    position: fixed;
    padding-top: 0;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    min-height: 400px;
    overflow: auto;
    z-index: 1010;
    -webkit-transition: right 0.3s ease-in-out;
    -o-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .control-sidebar {
        padding-top: 0;
    }

    .control-sidebar.control-sidebar-open {
        width: 100%;
    }
}

.control-sidebar.control-sidebar-open {
    right: 0;
}

.control-sidebar .item-header {
    display: block;
    width: 100%;
    line-height: 30px;
    background-color: #FFF;
    padding: 0 15px;
    font-size: 14px;
    border: none;
    margin-bottom: 0;
}

.control-sidebar .item-header.read-only {
    background-color: #F5F5F5;
}

.replaced-config {
    position: absolute;
}

.replaced-config:after {
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    background: #000;
    content: "";
    width: 100%;
    display: block;
}

.control-sidebar .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}

.control-sidebar.control-sidebar-open .overlay {
    visibility: visible;
}
